<component name="ArtifactManager">
  <artifact type="war" name="springBootJenkins:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springBootJenkins</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springBootJenkins-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springBootJenkins:war exploded" />
    </root>
  </artifact>
</component>